<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618193860265-36mfdd2mbe5gmedgsusotln0rrcidts4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618193860265-36mfdd2mbe5gmedgsusotln0rrcidts4</string>
	<key>API_KEY</key>
	<string>AIzaSyAaskJNP-baRhBqNDpgyosZsHJlrocv6SY</string>
	<key>GCM_SENDER_ID</key>
	<string>618193860265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdal.messager</string>
	<key>PROJECT_ID</key>
	<string>messangerapp-d3514</string>
	<key>STORAGE_BUCKET</key>
	<string>messangerapp-d3514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618193860265:ios:96ad3043b0e22d099ddbb8</string>
</dict>
</plist>